<div class="form">
<h2>Выборка координат</h2>
<div class="content-container result-graph_container">
  <svg width="220" height="220" xmlns="http://www.w3.org/2000/svg" class="svg-graph" (mouseenter)="mouseEnter()" (click)="mouseClick($event)" >
    <g>
      <title>Layer 1</title>
      <line class="axis" x1="10" y1="110" x2="210" y2="110" stroke="black" id="svg_1"/>
      <polygon points="210,110 200,105 200,115 " id="svg_2"/>
      <line class="axis" x1="110" y1="10" x2="110" y2="210" stroke="black" id="svg_3"/>
      <polygon points="110,9 105,20 115,20 " id="svg_4"/>
      <line class="coordinate-line" x1="43" y1="105" x2="43" y2="115" stroke="black" id="svg_5"/>
      <text class="coordinate-text coordinate-text_minus-Rx" x="33" y="100" font-size="14" id="minus_rx"  #minus_rx>-R</text>
      <line class="coordinate-line" x1="76" y1="105" x2="76" y2="115" stroke="black" id="svg_7"/>
      <text class="coordinate-text coordinate-text_minus-half-Rx" x="66" y="100" font-size="14" id="minus_halfrx" #minus_halfrx>-R/2
      </text>
      <line class="coordinate-line" x1="143" y1="105" x2="143" y2="115" stroke="black" id="svg_9"/>
      <text class="coordinate-text coordinate-text_plus-half-Rx" x="138" y="100" font-size="14" id="halfrx" #halfrx>R/2</text>
      <line class="coordinate-line" x1="176" y1="105" x2="176" y2="115" stroke="black" id="svg_11"/>
      <text class="coordinate-text coordinate-text_plus-Rx" x="171" y="100" font-size="14" id="rx" #rx>R</text>
      <line class="coordinate-line" x1="105" y1="176" x2="115" y2="176" stroke="black" id="svg_13"/>
      <text class="coordinate-text coordinate-text_minus-Ry" x="120" y="181" font-size="14" id="minus_ry" #minus_ry>-R</text>
      <line class="coordinate-line" x1="105" y1="143" x2="115" y2="143" stroke="black" id="svg_15"/>
      <text class="coordinate-text coordinate-text_minus-half-Ry" x="120" y="148" font-size="14" id="minus_halfry" #minus_halfry>
        -R/2
      </text>
      <line class="coordinate-line" x1="105" y1="76" x2="115" y2="76" stroke="black" id="svg_17"/>
      <text class="coordinate-text coordinate-text_plus-half-Ry" x="120" y="81" font-size="14" id="halfry" #halfry>R/2</text>
      <line class="coordinate-line" x1="105" y1="43" x2="115" y2="43" stroke="black" id="svg_19"/>
      <text class="coordinate-text coordinate-text_plus-Ry" x="120" y="48" font-size="14" id="ry" #ry>R</text>
      <polygon transform="rotate(180 143 143)" stroke="#6E7CFF" class="svg-figure triangle-figure"
               points="110,176 176,176 176,110 " fill="#6E7CFF" fill-opacity="0.3" stroke-opacity="0.5" id="svg_24"/>
      <polygon stroke="#6E7CFF" class="svg-figure rectangle-figure" points="43,43 110,43 110,110 43,110 " fill="#6E7CFF"
               fill-opacity="0.3" stroke-opacity="0.5" id="svg_22"/>
      <path transform="rotate(90 76 143)" stroke="#6E7CFF" class="svg-figure circle-figure"
            d="m43,176a66,66 0 0 0 66,-66l-66,0l0,66z" fill="#6E7CFF" stroke-opacity="0.5" id="svg_23"
            fill-opacity="0.3"/>
    </g>
  </svg>
  <canvas #canvas id="canvas_points" width="220" height="220" >Предыдущие проверки</canvas>

  <p-message *ngIf="validate_error_x" severity="error" text="Пожалуйста выберите корректную координату по Х [-3;5]!"></p-message>
  <p-message *ngIf="validate_error_y" severity="error" text="Пожалуйста выберите корректную координату по Y [-3;5]!"></p-message>
  <p-message *ngIf="server_error" severity="error" text="На стороне сервера произошла ошибка! Убедитесь в верности введенных данных!"></p-message>
  <p-message *ngIf="choose_radius_error" severity="error" text="Пожалуйста выберите радиус!"></p-message>
</div>
<form class="point-form" name="point-form" [formGroup]="form" (submit)="onSubmit()">
  <div class="x-input">
    <h3>
      Выберите координату по X: {{this.form.value.x}}
    </h3>
    <div class="x-fetch">
      <div *ngFor="let xs of xss" class="p-field-checkbox">
        <p-radioButton [inputId]="xs.key"
                       name="x" [value]="xs.value"
                       formControlName="x"

        ></p-radioButton>
        <label [for]="xs.key">{{xs.value}}</label>
      </div>
    </div>
  </div>
  <div class="y-input">
    <h3>
      Выберите координату по Y: {{this.form.value.y}}
    </h3>
    <div class="y-fetch">
      <p-slider name="y" formControlName="y" [step]="0.01" [min]="-3" [max]="5"></p-slider>
    </div>
  </div>
  <div class="radius-input">
    <h3>
      Выберите радиус: {{this.form.value.radius}}
    </h3>
    <div class="radius-fetch">
      <div *ngFor="let r of radiuss" class="p-field-checkbox">
        <p-radioButton [inputId]="r.key"
                       name="radius" [value]="r.value"
                       formControlName="radius"
        ></p-radioButton>
        <label [for]="r.key">{{r.value}}</label>
      </div>
    </div>
  </div>
  <p-button align="center" type="submit" label="Отправить" class="submit-button" name="submit-button"></p-button>
</form>
</div>

<div class="table-div">
  <h2>Таблица с результатами</h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>X</th>
      <th>Y</th>
      <th>Радиус</th>
      <th>Резульатат</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let point of Points">
      <td>{{ point.x }}</td>
      <td>{{ point.y }}</td>
      <td>{{ point.radius }}</td>
      <td>{{ point.result ? "Попадание": "Промах" }}</td>
    </tr>
    </tbody>
  </table>
</div>

