
.x-input {
  display: block;
}

.y-fetch {
  width: 300px;
  display: block;
  margin: auto auto 20px;
}

.radius-fetch {
  display: flex;
  justify-content: space-evenly;

}

.radius-input {
  margin-bottom: 20px;
}

label {
  margin-left: 5px
}

.svg-graph {
  position: absolute;
}

div.content-container {
  position: relative;
  text-align: center;
}

.submit-button {
  display: block;
  margin: auto;
}

tr{
  display: table-row;
  background-color: #217ad9;
  color: white;
  height: 30px;
  font-size: 1.25rem;
}

td {
  text-align: center;
}

th{
  width: 25%;
}

table{
  width: 100%;
  margin-top: 20px;
}

p-message{
  display:block;
  margin-top: 10px;
  margin-bottom: 20px;
}

