h4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

p-message {
  display: block;
  text-align: center;
  margin-top: 20px;
}

p-button {
  display: block;
  margin: auto;
}

